body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(71, 123, 20);;
 }
.reset-btn{
    font-size: 16px;
    cursor: pointer;
}
.reset-btn:hover{
    color: rgb(25, 5, 95);
}
.background{
    background: url('../img/background.jpg') repeat-x;
    background-size: auto;
    position: relative;
    width: 1024vw;
    height: 100vh;
    animation: background 6s linear infinite;
}

.racing-flag{
    position: absolute;
    right: 15px;
    top: 20px;
    z-index: 10;
}
.result, .rsg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    font-size: 200px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 100;
    text-transform: uppercase;
}
.joke{
    font-size: 50px;
    margin-bottom: 40px;
    width: 800px;
    word-wrap: break-word;
    text-align: center;
}
.timer{
    color: whitesmoke;
    font-size: 50px;
    position: fixed;
    z-index: 5;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.hide{
    display: none;
}
.crossing-line{
    position: absolute;
    right: 168px;
    top: -2px;
    z-index: 10;
    height: 100vh;
    width: 1px;
    border: 2px dotted crimson;
}
.astro{
    background: url('../img/astro.png') no-repeat;
    position: absolute;
    height: 160px;
    width: 165px;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    animation: astro 600ms steps(10) infinite alternate;
    transition: top 500ms, left 500ms;
}
.girl {
    position: absolute;
    top: 60%;
    right: 0;
    bottom: 0;
    left: 26px;
    background: url('../img/girl.png') 0 0 no-repeat;
    width: 95.71px;
    height: 130.33px;
    animation: girlwalk 0.3s steps(7) infinite;
    transform: scale(1.5);
}
.grass {
    position: absolute;
    top: 370px;
    bottom: 0;
    margin: auto;
    background: url('../img/grass.png') 0 0 repeat;
    background-size: auto;
    width: 1365px;
    height: 218px;
    animation: grassbackground 1.5s linear infinite;
    
}

@keyframes grassbackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -500px 0;
    }
}


@keyframes girlwalk {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -670px 0;
    }
}
.grass1 {
    position: absolute;
    top: 432px;
    bottom: 0;
    margin: auto;
    background: url(../img/grass1.png) 0 0 repeat;
    background-size: auto;
    width: 2210px;
    height: 327px;
    animation: grassbackground1 2.5s linear infinite;
    z-index: 1;
}

@keyframes grassbackground1 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2210px 0;
    }
}
@keyframes background{
    from{
        background-position: 0 0;
    }
    to{
        background-position: -1024px 0;
    }
}
@keyframes astro{
    from{
        background-position: 0 0;
    }
    to{
        background-position: -1600px 0;
    }
}